<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd" backupGlobals="false" colors="true" processIsolation="false" stopOnFailure="false" stopOnError="false" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <testsuites>
    <testsuite name="Jobs Tests">
      <directory>tests/Unit</directory>
    </testsuite>
  </testsuites>
  <coverage>
    <include>
      <directory>src</directory>
    </include>
  </coverage>
</phpunit>
